


.header {
  display: inline-block;
  width: 100%;
  background: #1A0B11;
  height: 44px;
  position: fixed;
  margin: 0
}

.header .toggle_menu {
  position: fixed;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  background-color: #F0E8E5;
  z-index: 1000000;
  color: #1A0B11;
  opacity: 0.95;
}

.header .toggle_menu:hover {
  opacity: 1;
  background-color: #DE636F;
}

 .logo {
  height:44px;
  width:150px;
  margin:0 auto;
 }

.logo a{
  font-family: 'Lobster';
  color: #F0E8E5;
  height: 44px;
  width: 150px;
  font-size: 25px;
  text-decoration: none;
}

.header .nav {
  width: 100%;
  height: 44px;
  background-color: #1A0B11;
  opacity: 0.9;
  display:none;
}

.nav li {
display: inline-block;
list-style: none;
padding: 0px 30px 0px 30px;
color: #F0E8E5;
font-family: 'Lobster';
height: 44px;
width: 30px;
}

.welcome{
  background-image: url(/assets/img/welcome.jpeg);
  background-size: cover;
  height: 1200px;
  width: 100%;
}
